.VideoPlayer{
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.VideoPlayer video{
  height: 99.5%; 
  width: 100%;
}

#cameraElement{
  position: absolute;
  bottom: -30px;
  right: 10px;
  width: 200px;
  height: 200px;
  z-index: 2;
  display: none;
  z-index: 9999;
}

#sceneElement{
  position: absolute;
  bottom: 0rem;
  width: 250px;
  height: 200px;
  z-index: 3;
  right: 2rem;
}