.Canvas{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cameraCanvas{
  position: absolute;
  transform: scaleX(-1);
  /* border: 2px solid green; */
}

#pix2pixCanvas{
  position: absolute;
  /* width: 100%;
  height: 100%; */
  transform: scaleX(-1);
  z-index: 999;
  /* border: 2px solid rgb(19, 19, 19);*/
  transition: 10s all;
}

#pix2pixContainer{
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 30s;
}