.ImageSlider{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  top: 50%;
  transform: translateY(-190%);
  white-space: nowrap;
}

.Images{
  position: relative;
}

.ImageInSlider{
  display: inline;
  margin: 0px 4px;
  filter: contrast(60%) sepia(100%);
  opacity: 0.9;
}