.ImageSlider{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.Images{
  /* transform: translate(0px,0);
  transition: all 1s ease-in-out; */
}

.ImageInSlider{
  display: inline;
  margin: 0px 4px;
}