/*
colors:
yellow: #E7FC52
red: #EB3223
purple: #8629DC
dark grey: #707070
light grey: #CBCDCE
light pink: #EDE6E5
*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, "Helvetica Neue", Lato, sans-serif;
}

.main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  z-index: -10000;
  padding: 0;
  margin-top: 0;
  margin-left: -30%;
  font-size: 62px;
  color: #E7FC52;
  font-family: Lato;
  font-weight: 700;
}

.mainSection {
  display: flex;
  margin-top: -50%;
  margin-left: -30%;
  width: 400px;
}

.shuffleForm {
 padding-right: 15%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.dataSnap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body select { 
  display: inline-block;
  font-size: 12px;
  padding: 2% !important; 
  padding-right: 12% !important;
  padding-left: 8% !important;
  /* max-width: 100%;  */
  height: auto !important; 
  border: 1px solid #e3e3e3; 
  border-radius: 20px; 
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat; 
  background-color: #fff; 
  color: #444444; 
  appearance: none; 
  -moz-appearance: none; 
  outline:none;
  margin-top: 10%;  
} 

select.dataset {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

select.snapshot {
  margin-left: auto;
  margin-right: auto;
  width: 200px; 
}

select.shuffle {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: inline-block;
  color: #444444; 
}

.stepsDiv {
  margin-top: 15%;
  margin-bottom: 10%;
  width: 220px;
}

input {
  display: inline-block;
  font-size: 12px !important;
  color: #444444; 
}

input.steps {
  border: none;
  outline:none;
  border-bottom: 1px solid #d3d3d3;
  position:absolute;
  margin-left: 1%;
  width: 180px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
}

.btn {
  text-align: center;
  font-size: 14px;
  padding: 15px;
  letter-spacing: 2px;
  display: inline-block;
  outline:none;
  border-radius: 18px;
}

.btn:hover {
  cursor: pointer;
}

.divBtnGnr {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn.generate {
  border: 3px solid #f0d9d5;
  width: 250px;
  color: #f0d9d5;
  background-color: #EB3223;
  box-shadow: 1px 1px #cbc1bf;
  margin-top: 5%;
  text-transform: uppercase;
  font-size: 12px;
}

.btn.generate:hover {
  color: #EB3223;
  background-color: white;
  box-shadow: none;
}

.imgControler {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.output-container {
  margin-top: -10%;
}

.imgAnimation {
  border-radius: 20px;
  border: 3px solid #CBCDCE;
}

.controls-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.direction {
 background-color: white;
 color: #8629DC;
 border: none;
 text-decoration: none;
 /* margin-left: 3%; */
 margin-top: 5px;
 padding: 10px;
 outline:none;
 padding-left: 4%;
 padding-right: 4%;
}

.direction:hover {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}

.test {
  width: 600px;
  margin-left: 22%;
  text-align: center;
}

.saveLoad {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

label.save {
  padding: -10px;
  padding-bottom: 0;
  color: #8629DC !important;
}

input.save {
  border: none;
  outline:none;
  border-bottom: 1px solid #8629DC;
  margin-left: 2%;
  width: 180px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  padding: 5px;
  color: #8629DC !important;

}

.btn.save {
  background: white;
  border:none;
  border-radius: 0px;
  font-size: 12px;
  padding: 10px;
  margin-left: 5%;
  color: #CBCDCE;
}

.btn.save:hover {
  border-bottom: 1px solid  #8529dc49;
  color: #444444;
  box-shadow: none;
}

.btn.download {
  background-color: #8629DC;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: 2px solid white;
  box-shadow: 1px 1px #CBCDCE;
  margin-left: 4%;
  padding:14px;
}

.btn.download:hover {
  background-color: white;
  color: #8629DC;
  border: 2px solid #8529dc93;
}

.loadForm {
  padding-bottom: 8%;
}

.btn.load {
  background: white;
  border:none;
  border-radius: 0px;
  font-size: 12px;
  padding: 10px;
  margin-left: 5%;
  color: #CBCDCE;
}

.btn.load:hover {
  border-bottom: 1px solid  #8529dc49;
  color: #444444;
  box-shadow: none;
}



