/*
colors:
yellow: #E7FC52
red: #f9311f
purple: #8629DC
dark grey: #707070
light grey: #CBCDCE
light pink: #EDE6E5
*/

* {
  box-sizing: border-box;
  outline: none;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz','Lato', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  color: black;
}

h1 {
  font-family: 'Yanone Kaffeesatz';
  margin-top: 5%;
  letter-spacing: 4px;
  color: white;
}

.page-title {
  font-family: 'Yanone Kaffeesatz', 'Lato', 'Roboto';  
  font-size: 100px;
  letter-spacing: 0.7rem; 
  z-index: -100;
  color: #EEBBF9;
  padding-left: 16%;
  display: inline-block;
}


.infoDiv {
  padding-left: 220px;
  margin-top: -270px;
}

.info {
  font-family: "Roboto";
  color: white;
  width: 380px;
  font-weight: 400;
  line-height: 44px;
  font-size: 38px;
}

.line-wrap {
  overflow: hidden;
  height: 90px;
}

.lineBig {
  font-size: 110px;
  letter-spacing: 0.1rem;
  margin-left: -2px;
}

.line-wrap.big {
  height: 100px;
}

.logoPage {
  padding-left: 10%;
  display: inline-block;
  opacity: logo-transition 6s;
}

@-webkit-keyframes logo-transition{
  0%   { opacity: 0;}
  40% { opacity: 0;}
  100% { opacity: 1; }
}
@-moz-keyframes logo-transition {
  0%   { opacity: 0; }
  40% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes logo-transition {
  0%   { opacity: 0;}
  40% { opacity: 0;}
  100% { opacity: 1; }
}
@keyframes logo-transition {
  0%   { opacity: 0;}
  40% { opacity: 0;}
  100% { opacity: 1;}
}


button {
  background:transparent;
  cursor: pointer;
  transition: all .15s ease-in;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  border-radius: 70px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  text-transform: uppercase;
  padding: 16px 70px;
}

button:hover {
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  padding: 15px 50px;
}

.main {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: page-transition 1.8s;
  -moz-animation: page-transition 1.8s;
  -o-animation: page-transition 1.8s;
  animation: page-transition 1.8s;
}

@-webkit-keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}
@-moz-keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}

@-o-keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}

@keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}

.mainSection {
  display: flex;
  margin-top: 21%;
  margin-left: -30%;
}

.shuffleForm {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 z-index: 1000;
}

.dataSnap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body select { 
  display: inline-block;
  font-family: "Lato";
  font-size: 12px;
  padding: 2% !important; 
  padding-right: 12% !important;
  padding-left: 8% !important;
  height: auto !important; 
  // border: 1px solid #f9311f; 
  border-radius: 20px; 
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat; 
  background-color: white; 
  color: white; 
  appearance: none; 
  -moz-appearance: none; 
  outline:none;
  margin-top: 10%;  
} 

select.dataset {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  color: white !important;
}

.MuiFormHelperText-root {
  color: white
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.select.dataset{
  color: white
}

#demo-simple-select-helper-label {
  background-color: black;
  color: white;
  padding-bottom: 0.1rem;
  font-family: 'Lato';
}

#demo-simple-select-helper {
  padding-top: .5rem;
  padding-bottom: 1rem;
  color: #EEBBF9;
  font-family: 'Lato';
  letter-spacing: .15rem;
}

select.snapshot {
  margin-left: auto;
  margin-right: auto;
  width: 200px; 
}

select.shuffle {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Poppins";
  display: inline-block;
  color: #f9311f; 
  margin-right: -10px;
  padding-bottom: 0;
  background: white; 
  width: 150px;
  font-size: 12px;
}

label.steps {
  padding-left: 10px;
}

.stepsDiv {
  margin-top: 15%;
  margin-bottom: 10%;
  width: 220px; 
}

.MuiInputBase-root{
  color: white !important;
}

.MuiSelect-nativeInput {
  color: white !important;
}

.MuiFormHelperText-root {
  color:white !important;
}

input {
  display: inline-block;
  font-size: 12px !important;
  color: white; 
  border: none;
  outline:none;
  border-bottom: 1px solid  #f9311f; 
}

input.steps {
  position:absolute;
  margin-left: -1px;
  width: 120px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: white !important; 
  font-size: 14px;
}

.btn {
  font-family: 'Roboto', 'Lato'; 
  text-align: center;
  font-size: 12px;
  padding: 15px;
  letter-spacing: 0.1rem;
  display: inline-block;
  outline:none;
  border-radius: 18px;
}

.btn:hover {
  cursor: pointer;
}

.divBtnGnr {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn.generate {
  border: 2px solid #f0d9d5;
  width: 200px;
  color: white;
  background-color: #f9311f;
  box-shadow: 1px 1px #cbc1bf;
  margin-top: 5%;
  text-transform: uppercase;
}

.btn.generate:hover {
  color: black;
  background-color: white;
  box-shadow: none;
  border: 2px solid #E7FC52;
}

.imgControler {
  width: 600px;
  margin-top: -13%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.output-container {
  margin-left:auto;
  margin-right: auto;
}

.imgAnimation {
  border-radius: 20px;
  border: 4px solid #E7FC52;
  box-shadow: none;
  display: inline-block;
}

.controls-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  font-family: "Lato";
  font-size: 12px;
  color:  #f9311f;
}

.direction {
 font-family: "Lato";
 font-size: 12px;
 background-color: white;
 color:  #f9311f;
 font-weight: 700;
 border: none;
 text-decoration: none;
 margin-top: 4px;
 padding: 16px;
 outline:none;
 padding-left: 4%;
 padding-right: 4%;
 letter-spacing: 0.1rem;
 display: inline-block;
}

.direction:hover {
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 2px;
}

.saveLoad {
  width: 580px;
  margin-top: 5%;
  margin-left: 1%;
}

label.save {
  color: #f9311f;
  padding-left: 15px;
  padding-right:1px;
}

input.save {
  border: none;
  outline:none;
  border-bottom: 1px solid #f9311f;
  width: 180px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
 
}

select.load {
  border: 1px solid #f9311f; 
}

.btn.save {
  background: white;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  letter-spacing: 0.18rem;
  padding: 10px;
  margin-left: 5%;
  color: #CBCDCE;
}

.btn.save:hover {
  color: #444444;
  box-shadow: none;
}

.btn.download {
  background-color: #f9311f;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
  border: 2px solid white;
  box-shadow: 1px 1px #CBCDCE;
  margin-left: 4%;
  padding: 14px;
}

.btn.download:hover {
  background-color: white;
  box-shadow: none;
  color: #444444;
  border: 2px solid #E7FC52;
}

.loadForm {
  padding-bottom: 6%;
  padding-top: 0;
  margin-top: -1%;
}

.btn.load {
  background: white;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  letter-spacing: 0.18rem;
  padding: 10px;
  margin-left: 5%;
  color: #CBCDCE;
}

.btn.load:hover {
  color: #444444;
  box-shadow: none;
}

.footerCointainer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mainFooter {
  width: 100%;
  bottom: 0;
  height: 3rem;
  background-color:black;
}

.footer {
  display: flex;
  justify-content: space-around;
}

a.footer {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 15px;
}

a.footer:hover {
  color: rgba(255, 255, 255, 0.8);
} 

.aboutSection {
  margin-top: 2%;
}

.aboutDiv {
  padding-bottom: 2%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.aboutText {
  font-family: 'Roboto', 'Lato';
  font-size: 24px;
  line-height: 2rem;
  text-transform: uppercase;
  color: white;
}

.aboutTitle {
  font-family: 'Bebas Neue', 'Lato', 'Roboto';
  font-size: 84px;
  color: #ED965F;
  margin-top: -1%;
  letter-spacing: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hl {
  background-color: white;
  color: black;
}

.exit {
  font-family: "Lato";
  color:#EEBBF9;
  margin-left: 80%;
  border: none;
  font-size: 36px;
  font-weight: 500;
  outline:none;
}

.exit:hover {
  cursor: pointer;
  color: #ED965F;
  border-radius: 15px;
}

