/*
colors:
yellow: #E7FC52
red: #f9311f
purple: #8629DC
dark grey: #707070
light grey: #CBCDCE
light pink: #EDE6E5
*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 14px Helvetica, 'Helvetica Neue', 'Lato', 'Roboto' sans-serif;
  background-color: #707070;
}

.main {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: page-transition 1.8s;
  -moz-animation: page-transition 1.8s;
  -o-animation: page-transition 1.8s;
  animation: page-transition 1.8s;
}

@-webkit-keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}
@-moz-keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}
@-o-keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}

@keyframes page-transition {
  0%   { opacity: 0;}
  40%  { opacity: 0;
        transition: opacity;
        transition-delay: 600ms;}
  100% { opacity: 1;}
}

.mainSection {
  display: flex;
  margin-top: -55%;
  margin-left: -30%;
}

.shuffleForm {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 z-index: 1000;
}

.dataSnap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body select { 
  display: inline-block;
  font-family: "Poppins";
  font-size: 12px;
  padding: 2% !important; 
  padding-right: 12% !important;
  padding-left: 8% !important;
  height: auto !important; 
  border: 1px solid #f9311f; 
  border-radius: 20px; 
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat; 
  background-color: #525252; 
  color: white; 
  appearance: none; 
  -moz-appearance: none; 
  outline:none;
  margin-top: 10%;  
} 

select.dataset {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

select.snapshot {
  margin-left: auto;
  margin-right: auto;
  width: 200px; 
}

select.shuffle {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Poppins";
  display: inline-block;
  color: white; 
  margin-right: -10px;
  padding-bottom: 0;
  background: #707070; 
  width: 150px;
  font-size: 14px;
}

label.steps {
  border-bottom: 1px solid  #f9311f; 
  padding-left: 30px;
}

.stepsDiv {
  margin-top: 15%;
  margin-bottom: 10%;
  width: 220px; 
}

input {
  display: inline-block;
  font-size: 12px !important;
  background: #707070; 
  border: none;
  outline:none;
  border-bottom: 1px solid  #f9311f; 
}

input.steps {
  position:absolute;
  margin-left: -1px;
  width: 120px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: white !important; 
  font-size: 14px;
}

.btn {
  font-family: 'Bebas Neue', 'Lato', 'Roboto'; 
  text-align: center;
  font-size: 16px;
  padding: 15px;
  letter-spacing: 0.25rem;
  display: inline-block;
  outline:none;
  border-radius: 18px;
}

.btn:hover {
  cursor: pointer;
}

.divBtnGnr {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn.generate {
  border: 2px solid #f0d9d5;
  width: 250px;
  color: #f0d9d5;
  background-color: #f9311f;
  box-shadow: 1px 1px #cbc1bf;
  margin-top: 5%;
  text-transform: uppercase;
}

.btn.generate:hover {
  color: #E7FC52;
  background-color: #525252;
  box-shadow: none;
  border: 2px solid #E7FC52;
}

.imgControler {
  width: 600px;
  margin-top: -13%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.output-container {
  margin-left:auto;
  margin-right: auto;
}

.imgAnimation {
  border-radius: 20px;
  border: 3px solid #CBCDCE;
  box-shadow: none;
  display: inline-block;
}

.controls-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.direction {
 font-family: "Poppins";
 font-size: 14px;
 background-color: #707070;
 color:  #E7FC52;
 font-weight: 500;
 border: none;
 text-decoration: none;
 margin-top: 4px;
 padding: 16px;
 outline:none;
 padding-left: 4%;
 padding-right: 4%;
 letter-spacing: 0.1rem;
 display: inline-block;
}

.direction:hover {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}

.saveLoad {
  width: 580px;
  margin-top: 5%;
  margin-left: 1%;
}

label.save {
  color: white;
  border-bottom: 1px solid #8629DC;
  padding-left: 15px;
  padding-right:1px;
}

input.save {
  border: none;
  outline:none;
  border-bottom: 1px solid #8629DC;
  width: 180px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: white !important;
}

select.load {
  border: 1px solid #8629DC; 
}

.btn.save {
  background: #707070;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  letter-spacing: 0.18rem;
  padding: 10px;
  margin-left: 5%;
  color: #CBCDCE;
}

.btn.save:hover {
  color: #444444;
  box-shadow: none;
}

.btn.download {
  background-color: #8629DC;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3rem;
  border: 1px solid white;
  box-shadow: 1px 1px #CBCDCE;
  margin-left: 4%;
  padding: 14px;
}

.btn.download:hover {
  background-color: #525252;
  box-shadow: none;
  color: white;
  border: 1px solid white;
}

.loadForm {
  padding-bottom: 6%;
  padding-top: 0;
  margin-top: -1%;
}

.btn.load {
  background: #707070;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  letter-spacing: 0.18rem;
  padding: 10px;
  margin-left: 5%;
  color: #CBCDCE;
}

.btn.load:hover {
  border-bottom: 1px solid  #8529dc49;
  color: #444444;
  box-shadow: none;
}

.footer {
  background-color: #f9311f;
  padding: 15px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Poppins";
} 

a:hover {
  color: black;
} 

.aboutSection {
  background-color: #707070;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.aboutDiv {
  padding-bottom: 2%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  font-family: 'Roboto', 'Lato';
  font-size: 24px;
  line-height: 2rem;
  text-transform: uppercase;
}

.aboutTitle {
  font-family: 'Bebas Neue', 'Lato', 'Roboto';
  font-size: 84px;
  color: #E7FC52;
  margin-top: -1%;
  letter-spacing: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hl {
  background-color: white;
}

.exit {
  font-family: "Poppins";
  background: #707070;
  margin-left: 85%;
  border: none;
  font-size: 32px;
  font-weight: 300;
  padding-left: 14px;
  padding-right: 14px;
  color: #E7FC52;
  outline:none;
}

.exit:hover {
  cursor: pointer;
  color: #f9311f;
  border-radius: 15px;
  border: 1px solid white;
}

.page-title {
  font-family: 'Bebas Neue', 'Lato', 'Roboto';  
  font-size: 88px;
  letter-spacing: 0.7rem; 
  z-index: -100;
  color: #E7FC52;
  padding-left: 16%;
  display: inline-block;
  margin-top: 2%;
}

.infoDiv {
  margin-left: 240px;
  margin-top: -300px;
}

.info {
  font-family: "Poppins", "Roboto";
  color: black;
  width:340px;
  font-weight: 300;
  line-height: 44px;
  font-size: 38px;

}

.line-wrap {
  overflow: hidden;
  height: 80px;
}

.lineBig {
  font-size: 98px;
  letter-spacing: 0.1rem;
}

.line-wrap.big {
  height: 88px;
}

.logoPage {
  display: inline-block;
  opacity: logo-transition 3s;
}

@-webkit-keyframes logo-transition{
  0%   { opacity: 0;}
  20% { opacity: 0;}
  100% { opacity: 1; }
}
@-moz-keyframes logo-transition {
  0%   { opacity: 0; }
  20% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes logo-transition {
  0%   { opacity: 0;}
  20% { opacity: 0;}
  100% { opacity: 1; }
}
@keyframes logo-transition {
  0%   { opacity: 0;}
  20% { opacity: 0;}
  100% { opacity: 1;}
}

