Loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  margin-top: 0;
  z-index: 100;
}

.spinner{  
  height: 50%;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  /* position: relative; */
  left: 0;
  margin-top: 0;
  z-index: 100;
}